@import '~@/variables.scss';
@import './Review.scss';
@import './Star.scss';

$detail__tapbar-height: 105px;
$detail__wapper-padding: 24px;
$detail__icon-height: 65px;

.detail {
  &__back {
    position: absolute;
    top: 30px;
    left: 24px;

    font-size: 32px;
    color: white;
  }
  &__wapper {
    position: absolute;
    top: 430px;
    left: 0;
    right: 0;

    width: $UI-size - $detail__wapper-padding * 2;

    margin: 0 auto;
    margin-bottom: $detail__tapbar-height + $detail__wapper-padding / 2;

    padding: 30px $detail__wapper-padding;

    border-radius: $border-radius;
    background: white;

    box-shadow: 0 5px 8px 5px rgba(181, 181, 181, 0.15);
    box-sizing: border-box;
  }
  &__content {
    &-name {
      font-size: 27px;
      font-weight: 700;
      color: $font-color-main;

      &--hot::after {
        display: inline-block;

        margin-left: 6px;
        padding: 0 2px;

        border-radius: 3px;
        
        font-size: 12px;
        font-weight: 500;
        color: white;

        background: $theme-orange;
        
        content: 'HOT';
      }
    }
    &-price {
      display: inline-block;
      margin-top: 5px;
      
      font-size: 27px;
      font-weight: 700;
      color: $theme-orange;

      &::before {
        font-size: 16px;
        content: '￥';
      }
      &--before {
        margin-left: 10px;

        font-size: 16px;
        font-weight: 500;
        color: $font-color-placeholder;
        text-decoration: line-through;
        &::before {
          content: '￥';
        }
      }
    }
    &-description {
      display: inline-block;

      margin-top: 10px;

      font-size: 17px;
      color: $font-color-sub;
    }
    &-status {
      margin-top: 5px;
    }
    &-title {
      display: block;
      
      margin-top: 35px;
      
      font-size: 20px;
      font-weight: 700;
      color: $font-color-main;
    }
  }
  &__tapbar {
    position: fixed;
    bottom: 0;

    width: $UI-size;
    height: $detail__tapbar-height;

    background: white;

    &-favorite {
      position: absolute;
      left: 30px;
      top: 0;
      bottom: 0;

      width: $detail__icon-height;
      height: $detail__icon-height;

      margin: auto 0;

      border: none;
      border-radius: 50%;
      outline: none;

      font-size: 32px;
      line-height: 1;
      color: $font-color-placeholder;

      background: white;
      box-shadow: 0 0 8px 5px rgba(181, 181, 181, 0.15);
    }
    &-add2cart {
      position: absolute;
      left: 115px;
      top: 0;
      bottom: 0;

      width: 330px;
      height: $detail__icon-height;

      margin: auto 0;

      border: none;
      border-radius: $detail__icon-height;
      outline: none;

      font-size: 22px;
      color: white;

      background: $theme-green;
    }
  }
}