.review {
  &__wapper {
    margin-top: 40px;

    &:first-child {
      margin-top: 20px;
    }
  }
  &__head {
    position: relative;
  }
  &__icon {
    float: left;

    width: 45px;
    height: 45px;

    border-radius: 50%;
  }
  &__info {
    position: relative;
    margin-left: 10px;
  }
  &__name {
    position: absolute;
    top: 0;
    font-size: 18px;
    font-weight: 700;
  }
  &__time {
    position: absolute;
    top: 24px;

    margin-left: 10px;

    font-size: 13px;
    white-space: nowrap;
    color: $font-color-placeholder;
  }
  &__star {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__comment {
    font-size: 16px;
    color: $font-color-main;
  }
  &__pic {
    float: left;

    width: 98px;
    height: 98px;
    overflow: hidden;

    margin-left: 10px;

    border-radius: $border-radius;

    &:first-child {
      margin-left: unset;
    }
  }
}