$picker__view-height: 565px - 20 - 60;

.picker {
  &__wapper {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 565px;
    z-index: 1000;

    background: white;

    border-top-left-radius: $border-radius * 2;
    border-top-right-radius: $border-radius * 2;

    transform: translate3d(0, 100%, 0);
    transition: transform .25s ease-out;

    &--active {
      transform: translate3d(0, 0, 0);
    }

    & .common__nav-wapper {
      position: relative;
      left: 0;
      top: 20px;
      right: 0;
      width: 250px;

      margin: 0 auto;

      transform: translate3d(10px, 0, 0);
    }
    & .common__nav {
      width: 250px;
    }

    & > *:nth-child(2) {
      margin-top: 30px;

      height: $picker__view-height;
    }
  }
  &__title {
    font-size: 27px;
    font-weight: 700;
    color: $font-color-main;
  }
  &__icon {
    margin-right: 5px;
    font-size: 20px;
    color: $theme-green;
  }
  &__arrow {
    display: inline-block;

    margin-left: 10px;
    font-size: 16px;
    color: $font-color-placeholder;

    transform: rotate(270deg);
  }
  &__time {
    font-size: 18px;
    margin-right: 7px;
    &-num {
      font-size: 20px;
      font-weight: 700;
      line-height: 50px;
      color: $font-color-main;
    }
    &-description {
      display: inline-block;
      font-size: 20px;
      line-height: 50px;
      color: $font-color-placeholder;

      transform: scale(.85);
    }
    &--current {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 30px;
      bottom: 0;

      width: 38px;
      height: 38px;

      margin: auto;

      border-radius: 50%;

      font-weight: 700;
      color: $theme-green;

      background: #e7faed;
    }
  }
  &__list {
    float: left;

    width: 100%;
    height: $picker__view-height;

    padding: 0 24px;

    box-sizing: border-box;
  }
  &__scroll-view {
    height: $picker__view-height - 46;
  }
  &__item-wapper {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }
  &__item {
    position: relative;
    height: 50px;
    padding: 33px 0;

    border-bottom: 1px solid #f7f7f7;
    list-style: none;

    &--shorter {
      padding: 20px 0;
    }
  }
  &__local {
    &-name {
      position: absolute;
      top: 33px;
      left: 0;

      font-size: 20px;
      font-weight: 700;
      color: $font-color-main;

      & > *:first-child {
        float: left;
        display: block;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &--nearest::after {
        display: inline-block;

        margin-left: 5px;
        padding: 2px 6px;

        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;

        font-size: 13px;
        font-weight: 500;
        color: white;

        background: $theme-green;

        content: '离我最近';
      }
    }
    &-addr {
      position: absolute;
      top: 53px + 11;
      left: 0;

      width: 350px;

      font-size: 15px;
      color: $font-color-placeholder;
    }
    &-distance {
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;

      height: 20px;

      margin: auto 0;

      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      color: $font-color-main;
    }
  }
}