@import '~@/variables.scss';

$icon-size: 32px;
$font-size: 20px;
$input-size: 180px;

.common__search {
  &-wapper {
    position: absolute;

    width: $icon-size + 2;
    height: $icon-size + 2;
    overflow: hidden;

    font-size: $icon-size;
    line-height: $icon-size + 2;
    color: $font-color-main;

    background: white;

    transition: width .15s ease-out;

    &--is-focus {
      width: $input-size;
    }
  }
  &-icon {
    position: absolute;
    left: 0;

    font-weight: 600;

    background: white;
  }
  &-input {
    position: absolute;
    right: 0;
    top: 0;

    width: $input-size - $icon-size - 10px;

    padding: 3px;
    padding-left: $icon-size + 10px;

    border: none;
    outline: none;

    font-size: $font-size;
  }
}