@keyframes slideInOut {
  0% { transform: translate3d(0, 6.25vw, 0); opacity: .2; }
  10%, 85% { transform: translate3d(0, 0, 0); opacity: 1; }
  100% { transform: translate3d(0, 6.25vw, 0); opacity: 0; }
}

.toast {
  &__position {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
  }

  display: inline-block;
  min-width: 12.5vw;

  padding: 2.08vw 4.16vw;

  border-radius: 2.08vw;

  text-align: center;
  color: white;

  background: rgba(0, 0, 0, .65);

  animation: slideInOut 1.75s ease-in-out forwards;
}