@import '~@/variables.scss';
@import './Sticky.scss';
@import './TapBar.scss';

.home {

  &__search-wapper {
    position: fixed;
    top: $sticky__offset + 7;
    right: $sticky__offset;

    font-size: $icon-size-main;
    font-weight: 600;
    color: $font-color-main;
    text-decoration: none;
  }

  &__content {
    &-wapper {
      margin-top: $sticky__wapper-height;
      margin-bottom: $tapbar__wapper-height;
    }
  }
}