@import '~@/variables.scss';

$wapper-height: 160px;
$offset: 24px;
$icon-size: 50px;
$info-size: 28px;
$location-size: 18px;
$location-offset-bottom: 10px;
$info-offset-bottom: $location-size + $location-offset-bottom + 12px;

.sticky {
  &__wapper {
    position: fixed;

    width: 100%;
    height: $wapper-height;

    overflow: hidden;

    background: white;

    transition: transform .2s ease-out;

    &--is-sticky {
      transform: translate3d(0, 0 - $icon-size - $offset, 0);

      & .sticky__user-icon {
        transform: translate3d(0, -20px, 0);
        opacity: 0;
      }
    }
  }
  &__user {
    &-icon {
      position: absolute;
      top: $offset;
      left: $offset;
  
      width: $icon-size;
      height: $icon-size;
      overflow: hidden;
  
      border-radius: 50%;
  
      /** 图片加载占位填充 */
      background-color: gray;

      transition: transform .2s ease-out, opacity .15s ease-out;
    }
    &-info {
      position: absolute;
      bottom: $info-offset-bottom;
      left: $offset;

      font-size: $info-size;
      line-height: 1;
      font-weight: 700;
      color: $font-color-main;
    }
    &-location {
      position: absolute;
      left: $offset;
      bottom: $location-offset-bottom;

      font-size: $location-size;
      line-height: 1;
      color: $font-color-sub;

      &::after {
        display: inline-block;
        transform: translate3d(3px, 0, 0);
        content: ">";
      }
    }
  }
}