$sticky__wapper-height: 160px;
$sticky__offset: 24px;
$sticky__icon-size: 50px;
$sticky__info-size: 28px;
$sticky__location-size: 18px;
$sticky__location-offset-bottom: 10px;
$sticky__info-offset-bottom: $sticky__location-size + $sticky__location-offset-bottom + 12px;

.sticky {
  &__wapper {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: $sticky__wapper-height;

    overflow: hidden;

    background: white;

    transition: transform .2s ease-out;

    &--is-sticky {
      transform: translate3d(0, 0 - $sticky__icon-size - $sticky__offset, 0);

      & .sticky__user-icon {
        transform: translate3d(0, -20px, 0);
        opacity: 0;
      }
    }
  }
  &__user {
    &-icon {
      position: absolute;
      top: $sticky__offset;
      left: $sticky__offset;
  
      width: $sticky__icon-size;
      height: $sticky__icon-size;
      overflow: hidden;
  
      border-radius: 50%;
  
      /** 图片加载占位填充 */
      background-color: gray;

      transition: transform .2s ease-out, opacity .15s ease-out;
    }
    &-info {
      position: absolute;
      bottom: $sticky__info-offset-bottom;
      left: $sticky__offset;

      font-size: $sticky__info-size;
      line-height: 1;
      font-weight: 700;
      color: $font-color-main;
    }
    &-location {
      position: absolute;
      left: $sticky__offset;
      bottom: $sticky__location-offset-bottom;

      font-size: $sticky__location-size;
      line-height: 1;
      color: $font-color-sub;

      &::after {
        display: inline-block;
        transform: translate3d(3px, 0, 0);
        content: ">";
      }
    }
  }
}