$tapbar__scan-width: 170px;
$tapbar__scan-height: 66px;
$tapbar__wapper-height: $tapbar__scan-height + 30;
$tapbar__icon-size: $icon-size-main + 8;

.tapbar {
  &__wapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;

    width: 100%;
    height: $tapbar__wapper-height;

    margin: 0;
    padding: 0;
    
    background: white;

    box-shadow: 0 -3px 10px 1px rgba(181, 181, 181, 0.15);

    & li {
      list-style: none;

      &:nth-child(2) {
        margin: 0 50px;
      }

      & a {
        text-decoration: none;
      }
    }
  }

  &__icon {
    width: $tapbar__icon-size;
    height: $tapbar__icon-size;

    margin: auto;
  }

  &__info {
    font-size: 15px;
    color: $font-color-placeholder;
  }

  &__scan {
    display: flex;
    align-items: center;

    width: $tapbar__scan-width;
    height: $tapbar__scan-height;

    padding: 15px 20px;

    border-radius: $tapbar__scan-height;

    color: white;
    background: $theme-green;

    box-sizing: border-box;
    &-icon {
      font-size: $tapbar__icon-size;
      font-weight: 500;
    }
    &-info {
      display: block;
      
      margin-left: 12px;
      font-size: 19px;
    }
  }
}