@import '~@/variables.scss';

.scan {
  &__wapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__qrcode {
    width: 250px;
    height: 250px;
  }
  &__rect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    border-top: 200px solid rgba(0, 0, 0, .5);
    border-left: ($UI-size - 250) / 2 solid rgba(0, 0, 0, .5);
    border-right: ($UI-size - 250) / 2 solid rgba(0, 0, 0, .5);
    border-bottom: 100vh solid rgba(0, 0, 0, .5);

    & > .common__qrcod-corner {
      &::before, &::after {
        background: white;
      }
    }
  }
  &__slider {
    @keyframes slideMove {
      0% { transform: translate3d((0, 0, 0)); }
      50% { transform: translate3d((0, 250px - 4, 0)); }
      100% { transform: translate3d((0, 0, 0)); }
    }
    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 4px;

    margin: auto;

    background: linear-gradient(90deg, transparent, white, transparent);

    animation: slideMove 6s linear infinite;
  }
  &__description {
    display: block;
    position: absolute;
    top: 470px;

    width: 100%;

    font-size: 17px;
    text-align: center;
    color: white;
  }
}