@import '~@public/iconfont/iconfont.css';


body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}


.wapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}
.mobile {
  position: relative;
  overflow: hidden;
  border: 8px solid rgb(45, 45, 45);
  border-radius: 30px;
}
.button {
  position: absolute;
  top: 100px;
  right: 0;

  width: 4px;
  height: 80px;

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  background: rgb(45, 45, 45);

  transform: translate3d(100%, 0, 0);

  &:nth-child(2) {
    top: 100px + 80px + 20px;
    height: 40px;
  }
}
.corner {
  position: absolute;
  right: 20px;
  bottom: 20px;

  font-size: 12px;
  & > p {
    margin: 5px 0;
    color: rgb(99, 99, 99);
  }
  & a {
    color: rgb(99, 99, 99);
  }
}